@model lab2___filmy.Models.Dane

<form asp-action="Form" method="post" class="form-container">
    <div asp-validation-summary="All" class="validation-summary"></div>
    <div class="form-group">
        <label asp-for="Imie" class="form-label">Twoje imie</label>
        <input asp-for="Imie" class="form-input" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-input" />
    </div>
    <div class="form-group">
        <label asp-for="Temat" class="form-label">Temat</label>
        <input asp-for="Temat" class="form-input" />
    </div>
    <div class="form-group">
        <label asp-for="Tresc" class="form-label">Tresc</label>
        <textarea asp-for="Tresc" class="form-textarea"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Wyslij" class="form-submit" />
    </div>
</form>