@model lab2___filmy.Models.Dane

<form asp-action="Form" method="post">
    <div>
        <label asp-for="Imie">Twoje imie</label>
        <input asp-for="Imie" />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Temat">Temat</label>
        <input asp-for="Temat" />
    </div>
    <div>
        <label asp-for="Tresc">Tresc</label>
        <textarea asp-for="Tresc"></textarea>
    </div>
    <div>
        <input type="submit" value="Wyslij" />
    </div>
</form>